<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="body">
<h3>Cadastrar Novo Funcionário</h3>
<div *ngIf="funcionarioForm">
<form [formGroup]="funcionarioForm" (ngSubmit)="save()">

  <div  class="form-row" >
    <div class="form-group col-md-8">
      <label for="nome_func">Nome do Funcionário</label>
      <input type="text" class="form-control" id="nome_Func" formControlName="nome_Func" placeholder="Insira o Nome do Funcionário" required="required">
    </div>
  </div>
    <div  class="form-row" >
    <div class="form-group col-md-8">
    <label for="Cargo">Cargo</label>
    <input type="text" class="form-control" id="cargo" formControlName="cargo" placeholder="Insira o Cargo do Funcionário" required="required" >
  </div>
</div>
<div  class="form-row" >
  <div class="form-group col-md-8">
      <label for="CPF">CPF</label>
      <input type="text" class="form-control" id="cpf" formControlName="CPF" placeholder="Insira o CPF" required="required">
    </div>
  </div>
  <div class="form-row" >
 <div class="form-group col-md-8">
    <label for="ID_PROJETOS_FUNC">Selecione um Projeto</label>
    <select class="form-control" formControlName="iD_PROJETOS_FUNC" >
      <option value="" disabled selected>Selecione...</option>
      <option *ngFor="let proj of projeto" [ngValue]="proj.id">{{proj.nomE_PROJETO}}</option>
    </select>
  </div>
</div>



  <button type="submit" value="Save" class="btn btn-primary">Confirmar</button>
</form>
</div>
</div>

