
<div class="body">
<h3>Cadastrar Novo Cliente</h3>
<div *ngIf="clienteForm">
  <form [formGroup]="clienteForm" (ngSubmit)="save()">

  <div  class="form-row" >
    <div class="form-group col-md-8">
      <label for="nomE_CLI">Nome do Cliente</label>
      <input type="text" class="form-control" id="nomE_CLI" formControlName="nomE_CLI" placeholder="Insira o Nome do Cliente" required="required">
    </div>
  </div>
    <div  class="form-row " >
    <div class="form-group col-md-8">
    <label for="cnpj">CNPJ</label>
    <input type="text" class="form-control" id="cnpj" formControlName="cnpj" placeholder="Insira o CNPJ do Cliente" required="required" >
  </div>
</div>
<div class="form-row" >
  <div class="form-group col-md-8">
    <label for="iD_PROJETO_CLIENTE">Selecione o Projeto</label>
    <select class="form-control" formControlName="iD_PROJETO_CLIENTE" >
      <option value="" disabled selected>Selecione...</option>
      <option *ngFor="let proj of projeto" [ngValue]="proj.id">{{proj.nomE_PROJETO}}</option>
    </select>
</div>
</div>
<button type="submit" value="Save" class="btn btn-primary">Confirmar</button>

</form>
</div>

</div>

