<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="body">
<h3>Cadastrar Nova Empresa</h3>
<div *ngIf="empresaForm">
<form [formGroup]="empresaForm" (ngSubmit)="save()">

  <div  class="form-row" >
    <div class="form-group col-md-8">
      <label for="nomE_EMPRESA">Nome da Empresa</label>
      <input type="text" class="form-control" id="nomE_EMPRESA" formControlName="nomE_EMPRESA" placeholder="Insira o Nome da Empresa" required="required">
    </div>
  </div>
  <div class="form-row" >
      <div class="form-group col-md-8">
         <label for="iD_FUNC">Selecione um Funcionario</label>
         <select class="form-control" formControlName="iD_FUNC" >
           <option value="" disabled selected>Selecione...</option>
           <option *ngFor="let func of funcionario" [ngValue]="func.id">{{func.nome_Func}}</option>
         </select>
       </div>
     </div>
     <div class="form-row" >
       <div class="form-group col-md-8">
         <label for="iD_CLI">Selecione um Cliente</label>
         <select class="form-control" formControlName="iD_CLI" >
           <option value="" disabled selected>Selecione...</option>
           <option *ngFor="let cli of cliente" [ngValue]="cli.id">{{cli.nomE_CLI}}</option>
          </select>
        </div>
      </div>
      <div  class="form-row" >
        <div class="form-group col-md-8">
          <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" id="CNPJ" formControlName="cnpj" placeholder="Insira o CNPJ" required="required">
        </div>
      </div>



  <button type="submit" value="Save" class="btn btn-primary">Confirmar</button>
</form>
</div>
</div>


