<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Conteúdo do navbar -->
    <button class="btn btn-outline-success" type="button"> <a routerLink="/index" routerLinkActive="active">Lista de Funcionarios</a></button>
    <button class="btn btn-outline-success" type="button"><a routerLink="/add" routerLinkActive="active">Cadastrar novo Funcionario</a></button>
    <button class="btn btn-outline-success" type="button"><a routerLink="/addProjeto" routerLinkActive="active">Cadastrar novo Projeto</a></button>
    <button class="btn btn-outline-success" type="button"><a routerLink="/addCliente" routerLinkActive="active">Cadastrar novo Cliente</a></button>
    <button class="btn btn-outline-success" type="button"><a routerLink="/addEmpresa" routerLinkActive="active">Cadastrar nova Empresa</a></button>
  </nav>

  <br><br>
  <router-outlet></router-outlet>
  <br><br>
  <div id="rodape"  align="center">
    <tfoot class="center">© Copyright - 2019</tfoot>

  </div>

