<h3>Lista de Funcionários</h3>
<div class="col-md-12">
<table class="table table-hover">
    <thead>
  <tr>
    <th>Id</th>
    <th>Nome do Funcionário</th>
    <th>Cargo</th>
    <th>CPF</th>
    <th>IP da Máquina</th>
    <th>Projeto</th>
    <th>Opções</th>
  </tr>
  </thead>
 <tr *ngFor="let funcionario of funcionarios">
   <td>{{funcionario.id}}</td>
   <td>{{funcionario.nome_Func}}</td>
   <td>{{funcionario.cargo}}</td>
   <td>{{funcionario.cpf}}</td>
   <td>{{funcionario.iP_DE_QUEM_CRIOU}}</td>
   <td>{{funcionario.nome_projeto}}</td>

   <td> <button class="btn btn-info"(click)="update(funcionario.id)"data-toggle="tooltip" data-placement="top" title="Editar Funcionário">Editar</button>|<button class="btn btn-danger"(click)="delete(funcionario.id)">Deletar</button></td>
 </tr>

</table>
</div>
