<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="body">
<h3>Cadastrar Novo Projeto</h3>
<div *ngIf="projetoForm">
<form [formGroup]="projetoForm" (ngSubmit)="save()">

  <div  class="form-row" >
    <div class="form-group col-md-8">
      <label for="nome_func">Nome do Projeto</label>
      <input type="text" class="form-control" id="nome_Func" formControlName="NOME_PROJETO" placeholder="Insira o Nome do Projeto" required="required">
    </div>
  </div>

  <button type="submit" value="Save" class="btn btn-primary">Confirmar</button>
</form>
</div>
</div>

